.main-create-program-div {
    margin: 30px;
    background-color: rgba(236, 236, 236);
    border-radius: 5px;
    color: black;
    display: flex;
    justify-content: center;
}

.classes-div {
    background-color: red;
    width: 100%;
    border-radius: 5px;
}

.form-div {
    background-color: blue;
    border-radius: 5px;
    width: 100%;
}